@using SYJMA.Umbraco.Controllers;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<SYJMA.Umbraco.Models.AdultModel>
@{
    double amount = double.Parse(Model.Event.AdditionalInfo.TotalCost, System.Globalization.NumberStyles.Currency);
    string a = amount.ToString("0.00");
}
<script src="~/Scripts/moment.min.js"></script>
<script>
    
    $(document).ready(function () {
        var baseUrl = '@ViewBag.rootUrl';
        $('#payment').submit(function () {
            var time = moment().format('YYYYMMDDHHmmss');
            $("#EPS_TIMESTAMP").val(time);
            var input = $('#EPS_MERCHANT').val() + '||' + $('#EPS_TXNTYPE').val() + '|' + $('#EPS_REFERENCEID').val() + '|' + @a + '|' + $('#EPS_TIMESTAMP').val();
            alert(input);
            $.ajax({
                type: 'POST',
                url: baseUrl + 'umbraco/Surface/Payment/GetFingerprint?input=' + input,
                success: function (result) {
                    $("#EPS_FINGERPRINT").val(result);
                    return true;
                }
            });
        });

        $('#btn').click(function () {
            var baseUrl = '@ViewBag.rootUrl';
            var time = moment().format('YYYYMMDDHHmmss');
            $("#EPS_TIMESTAMP").val(time);
            alert(@a);
            alert($('#EPS_TIMESTAMP').val());
            var input = $('#EPS_MERCHANT').val() + '||' + $('#EPS_TXNTYPE').val() + '|' + $('#EPS_REFERENCEID').val() + '|' + @a + '|' + $('#EPS_TIMESTAMP').val();
            alert(input);
            $.ajax({
                type: 'POST',
                url: baseUrl + 'umbraco/Surface/Payment/GetFingerprint?input=' + input,
                success: function (result) {
                    $("#EPS_FINGERPRINT").val(result);
                }
            });
        });
    });
</script>

<form id="payment" action="https://api.securepay.com.au/test/directpost/authorise" method="post">
    <div class="row">
        <div class="form-group col-md-12">
            CardNumber: 
            <input type="text" name="EPS_CARDNUMBER">
        </div>
        <div class="form-group col-md-12">
            Expiry Month: 
            <input type="text" name="EPS_EXPIRYMONTH">
        </div>
        <div class="form-group col-md-12">
            Expiry Year: 
            <input type="text" name="EPS_EXPIRYYEAR">
        </div>
        <div class="form-group col-md-12">
            CCV: 
            <input type="text" name="EPS_CCV">
        </div>
        <div class="form-group col-md-12">
            Amount: 
            <input type="text" id ="EPS_AMOUNT" disabled="disabled" name="EPS_AMOUNT" value="@Model.Event.AdditionalInfo.TotalCost" />
        </div>


    </div>
    <input type="hidden" id ="EPS_MERCHANT" name="EPS_MERCHANT" value="ESQ0030" />
    <input type="hidden" id ="EPS_TXNTYPE" name="EPS_TXNTYPE" value="0" />
    <input type="hidden" id ="EPS_REFERENCEID" name="EPS_REFERENCEID" value="Tour Booking #@Model.TourBookingID" />

    <input type="hidden" id ="EPS_TIMESTAMP" name="EPS_TIMESTAMP" value="201612121515" />
    <input type="hidden" id ="EPS_FINGERPRINT" name="EPS_FINGERPRINT" value="" />
    <input type="hidden" id ="EPS_RESULTURL" name="EPS_RESULTURL" value="https://www.google.com">
    <input id="btn" type="button" name="test" value="Test" />
</form>
