<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT bookingDetail ANY>
<!ATTLIST bookingDetail id ID #REQUIRED>
<!ELEMENT confirmationPanel ANY>
<!ATTLIST confirmationPanel id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT initialIdentification ANY>
<!ATTLIST initialIdentification id ID #REQUIRED>
<!ELEMENT calendarForm ANY>
<!ATTLIST calendarForm id ID #REQUIRED>
<!ELEMENT school ANY>
<!ATTLIST school id ID #REQUIRED>
<!ELEMENT adult ANY>
<!ATTLIST adult id ID #REQUIRED>
<!ELEMENT university ANY>
<!ATTLIST university id ID #REQUIRED>
]>
<root id="-1">
  <home id="1050" key="15862860-a7e3-49d5-9aa5-2e58e2606025" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-11-08T12:27:35" updateDate="2016-11-08T15:31:03" nodeName="Home" urlName="home" path="-1,1050" isDoc="" nodeType="1049" creatorName="admin" writerName="admin" writerID="0" template="1048" nodeTypeAlias="home">
    <siteName><![CDATA[Sydney Jewish Museum Event ]]></siteName>
    <pageTitle><![CDATA[Event Booking]]></pageTitle>
    <initialIdentification id="1074" key="d383809e-88e7-4cb9-8567-f5bb59d13a7c" parentID="1050" level="2" creatorID="0" sortOrder="0" createDate="2016-11-08T16:12:31" updateDate="2016-11-08T16:12:31" nodeName="School Visits" urlName="school-visits" path="-1,1050,1074" isDoc="" nodeType="1073" creatorName="admin" writerName="admin" writerID="0" template="1072" nodeTypeAlias="initialIdentification">
      <siteName><![CDATA[Sydney Jewish Museum Event ]]></siteName>
      <pageTitle><![CDATA[School Visists]]></pageTitle>
      <bookType><![CDATA[School]]></bookType>
      <bookTypeDescription><![CDATA[School Visits - Tell us about your group]]></bookTypeDescription>
      <school id="1155" key="4e62aa68-933f-4524-8552-a9101cc3d45c" parentID="1074" level="3" creatorID="0" sortOrder="0" createDate="2016-11-16T11:02:52" updateDate="2016-11-16T11:02:52" nodeName="Camden Public School - Mathematics" urlName="camden-public-school-mathematics" path="-1,1050,1074,1155" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="school">
        <numberOfStudents><![CDATA[666]]></numberOfStudents>
        <subjectArea><![CDATA[Mathematics]]></subjectArea>
        <year><![CDATA[13]]></year>
        <nameOfSchool><![CDATA[Camden Public School]]></nameOfSchool>
        <comments><![CDATA[TEST]]></comments>
        <preferredDateSchool>2016-11-29T00:00:00</preferredDateSchool>
        <numberOfStaff><![CDATA[6]]></numberOfStaff>
      </school>
    </initialIdentification>
    <initialIdentification id="1075" key="5d0d548e-5a28-4be4-91c1-1af40626db7f" parentID="1050" level="2" creatorID="0" sortOrder="1" createDate="2016-11-08T16:13:23" updateDate="2016-11-08T16:13:23" nodeName="Adult Visits" urlName="adult-visits" path="-1,1050,1075" isDoc="" nodeType="1073" creatorName="admin" writerName="admin" writerID="0" template="1072" nodeTypeAlias="initialIdentification">
      <siteName><![CDATA[Sydney Jewish Museum Event ]]></siteName>
      <pageTitle><![CDATA[Adult Visits]]></pageTitle>
      <bookType><![CDATA[Adult]]></bookType>
      <bookTypeDescription><![CDATA[Adult / Professional Training Visit - Tell us about your group]]></bookTypeDescription>
      <adult id="1096" key="9345a7f1-f8f5-42cc-9577-a40fc13310a4" parentID="1075" level="3" creatorID="0" sortOrder="0" createDate="2016-11-10T16:31:27" updateDate="2016-11-10T16:31:27" nodeName="High Five - Program 2" urlName="high-five-program-2" path="-1,1050,1075,1096" isDoc="" nodeType="1092" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="adult">
        <preferredDateAdult>2016-11-29T00:00:00</preferredDateAdult>
        <program><![CDATA[Program 2]]></program>
        <numberOfAdults><![CDATA[22]]></numberOfAdults>
        <nameOfGroup><![CDATA[High Five]]></nameOfGroup>
        <comments><![CDATA[Adult comments]]></comments>
      </adult>
    </initialIdentification>
    <initialIdentification id="1076" key="cfaf4e7b-7a4c-4057-82e3-f8325508e36c" parentID="1050" level="2" creatorID="0" sortOrder="2" createDate="2016-11-08T16:15:32" updateDate="2016-11-08T16:15:32" nodeName="University Visits" urlName="university-visits" path="-1,1050,1076" isDoc="" nodeType="1073" creatorName="admin" writerName="admin" writerID="0" template="1072" nodeTypeAlias="initialIdentification">
      <siteName><![CDATA[Sydney Jewish Museum Event ]]></siteName>
      <pageTitle><![CDATA[University Visits]]></pageTitle>
      <bookType><![CDATA[University]]></bookType>
      <bookTypeDescription><![CDATA[University Visits - Tell us about your group]]></bookTypeDescription>
      <university id="1098" key="5d667418-2949-428c-88a9-33ef582362a0" parentID="1076" level="3" creatorID="0" sortOrder="0" createDate="2016-11-10T17:08:26" updateDate="2016-11-10T17:08:26" nodeName="UTS - Program 5" urlName="uts-program-5" path="-1,1050,1076,1098" isDoc="" nodeType="1097" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="university">
        <numberOfStudents><![CDATA[333]]></numberOfStudents>
        <comments><![CDATA[Uni Comments]]></comments>
        <nameOfUniversity><![CDATA[UTS]]></nameOfUniversity>
        <nameOfCampus><![CDATA[IT]]></nameOfCampus>
        <program><![CDATA[Program 5]]></program>
        <numberOfStaff><![CDATA[3]]></numberOfStaff>
        <preferredDate>2016-12-01T00:00:00</preferredDate>
      </university>
      <university id="1101" key="a3a9b7f8-49c4-4245-9b46-6ecbab51a49c" parentID="1076" level="3" creatorID="0" sortOrder="1" createDate="2016-11-11T11:02:11" updateDate="2016-11-11T11:02:11" nodeName="UTS - Program 4" urlName="uts-program-4" path="-1,1050,1076,1101" isDoc="" nodeType="1097" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="university">
        <numberOfStudents><![CDATA[333]]></numberOfStudents>
        <nameOfUniversity><![CDATA[UTS]]></nameOfUniversity>
        <nameOfCampus><![CDATA[IT]]></nameOfCampus>
        <program><![CDATA[Program 4]]></program>
        <numberOfStaff><![CDATA[2]]></numberOfStaff>
        <preferredDate>2016-11-23T00:00:00</preferredDate>
      </university>
    </initialIdentification>
    <calendarForm id="1099" key="f6786c35-7e22-49b0-81e5-16f8cf6cd43e" parentID="1050" level="2" creatorID="0" sortOrder="3" createDate="2016-11-11T09:25:20" updateDate="2016-11-11T11:08:05" nodeName="School Calendar Form" urlName="school-calendar-form" path="-1,1050,1099" isDoc="" nodeType="1078" creatorName="admin" writerName="admin" writerID="0" template="1077" nodeTypeAlias="calendarForm">
      <siteName><![CDATA[Sydney Jewish Museum Event ]]></siteName>
      <pageTitle><![CDATA[Choose your program and date]]></pageTitle>
      <bookType><![CDATA[School]]></bookType>
      <calendarHeader><![CDATA[<h3>Choose your program and date</h3>
<p> </p>
<p>The following programs are available.</p>
<ol>
<li>Select a Program</li>
<li>Select day and time</li>
</ol>]]></calendarHeader>
      <confirmationPanel id="1148" key="26ea3724-78d8-4d07-9aeb-03291b907946" parentID="1099" level="3" creatorID="0" sortOrder="0" createDate="2016-11-16T09:31:12" updateDate="2016-11-16T09:31:12" nodeName="SchoolConfirm" urlName="schoolconfirm" path="-1,1050,1099,1148" isDoc="" nodeType="1128" creatorName="admin" writerName="admin" writerID="0" template="1127" nodeTypeAlias="confirmationPanel">
        <siteName><![CDATA[Sydney Jewish Museum Event ]]></siteName>
        <pageTitle><![CDATA[Review your details]]></pageTitle>
        <bookType><![CDATA[School]]></bookType>
        <pageHeader><![CDATA[Here is what we know so far]]></pageHeader>
        <bookingDetail id="1154" key="241e3a8f-386e-47b6-902d-70d339dca4bf" parentID="1148" level="4" creatorID="0" sortOrder="0" createDate="2016-11-16T10:18:12" updateDate="2016-11-16T10:18:12" nodeName="SchoolDetail" urlName="schooldetail" path="-1,1050,1099,1148,1154" isDoc="" nodeType="1153" creatorName="admin" writerName="admin" writerID="0" template="1152" nodeTypeAlias="bookingDetail">
          <siteName><![CDATA[Sydney Jewish Museum Event ]]></siteName>
          <pageTitle><![CDATA[Booking Details]]></pageTitle>
          <bookType><![CDATA[School]]></bookType>
          <pageHeader><![CDATA[Please provide details of the coordinator of your group by completing the fields below]]></pageHeader>
        </bookingDetail>
      </confirmationPanel>
    </calendarForm>
    <calendarForm id="1100" key="6d983d6f-9d20-4e45-8bec-69699542e91e" parentID="1050" level="2" creatorID="0" sortOrder="4" createDate="2016-11-11T09:27:28" updateDate="2016-11-11T11:08:11" nodeName="Adult Calendar Form" urlName="adult-calendar-form" path="-1,1050,1100" isDoc="" nodeType="1078" creatorName="admin" writerName="admin" writerID="0" template="1077" nodeTypeAlias="calendarForm">
      <siteName><![CDATA[Sydney Jewish Museum Event ]]></siteName>
      <pageTitle><![CDATA[Choose your program and date]]></pageTitle>
      <bookType><![CDATA[Adult]]></bookType>
      <calendarHeader><![CDATA[<h3>Choose your program and date</h3>
<p>The following programs are available. Select a program and a list of dates to choose will appear.</p>]]></calendarHeader>
    </calendarForm>
    <calendarForm id="1102" key="2f158c44-6429-42f0-b9ee-616f98d165ba" parentID="1050" level="2" creatorID="0" sortOrder="5" createDate="2016-11-11T11:05:24" updateDate="2016-11-11T11:08:16" nodeName="University Calendar Form" urlName="university-calendar-form" path="-1,1050,1102" isDoc="" nodeType="1078" creatorName="admin" writerName="admin" writerID="0" template="1077" nodeTypeAlias="calendarForm">
      <siteName><![CDATA[Sydney Jewish Museum Event ]]></siteName>
      <pageTitle><![CDATA[Choose your program and date]]></pageTitle>
      <bookType><![CDATA[University]]></bookType>
      <calendarHeader><![CDATA[<h3>Choose your program and date</h3>
<p>The following programs are available. Select a program and a list of dates to choose will appear.</p>]]></calendarHeader>
    </calendarForm>
  </home>
</root>