<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT school ANY>
<!ATTLIST school id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT initialIdentification ANY>
<!ATTLIST initialIdentification id ID #REQUIRED>
<!ELEMENT calendarForm ANY>
<!ATTLIST calendarForm id ID #REQUIRED>
<!ELEMENT initialIdentificationRecord ANY>
<!ATTLIST initialIdentificationRecord id ID #REQUIRED>
]>
<root id="-1">
  <home id="1050" key="15862860-a7e3-49d5-9aa5-2e58e2606025" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-11-08T12:27:35" updateDate="2016-11-08T15:31:03" nodeName="Home" urlName="home" path="-1,1050" isDoc="" nodeType="1049" creatorName="admin" writerName="admin" writerID="0" template="1048" nodeTypeAlias="home">
    <siteName><![CDATA[Sydney Jewish Museum Event ]]></siteName>
    <pageTitle><![CDATA[Event Booking]]></pageTitle>
    <initialIdentification id="1074" key="d383809e-88e7-4cb9-8567-f5bb59d13a7c" parentID="1050" level="2" creatorID="0" sortOrder="0" createDate="2016-11-08T16:12:31" updateDate="2016-11-08T16:12:31" nodeName="School Visits" urlName="school-visits" path="-1,1050,1074" isDoc="" nodeType="1073" creatorName="admin" writerName="admin" writerID="0" template="1072" nodeTypeAlias="initialIdentification">
      <siteName><![CDATA[Sydney Jewish Museum Event ]]></siteName>
      <pageTitle><![CDATA[School Visists]]></pageTitle>
      <bookType><![CDATA[School]]></bookType>
      <bookTypeDescription><![CDATA[School Visits - Tell us about your group]]></bookTypeDescription>
      <school id="1091" key="5d74df50-298e-4e4d-9d5a-53064705afe0" parentID="1074" level="3" creatorID="0" sortOrder="0" createDate="2016-11-10T14:15:57" updateDate="2016-11-10T14:15:57" nodeName="Camden Public School - The Arts" urlName="camden-public-school-the-arts" path="-1,1050,1074,1091" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="school">
        <numberOfStudents><![CDATA[300]]></numberOfStudents>
        <subjectArea><![CDATA[The Arts]]></subjectArea>
        <year><![CDATA[5]]></year>
        <nameOfSchool><![CDATA[Camden Public School]]></nameOfSchool>
        <comments><![CDATA[First comments]]></comments>
        <preferredDateSchool>2017-08-18T00:00:00</preferredDateSchool>
        <numberOfStaff><![CDATA[1]]></numberOfStaff>
      </school>
      <school id="1093" key="01329856-9d93-402a-8612-1aadac76a13b" parentID="1074" level="3" creatorID="0" sortOrder="1" createDate="2016-11-10T14:43:03" updateDate="2016-11-10T14:43:03" nodeName=" - Social Sciences" urlName="social-sciences" path="-1,1050,1074,1093" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="school">
        <numberOfStudents><![CDATA[0]]></numberOfStudents>
        <subjectArea><![CDATA[Social Sciences]]></subjectArea>
        <year><![CDATA[5]]></year>
        <preferredDateSchool>0001-01-01T00:00:00</preferredDateSchool>
        <numberOfStaff><![CDATA[0]]></numberOfStaff>
      </school>
      <school id="1094" key="814c833c-398e-436d-878a-601548ae5be1" parentID="1074" level="3" creatorID="0" sortOrder="2" createDate="2016-11-10T14:46:28" updateDate="2016-11-10T14:46:28" nodeName=" - Science" urlName="science" path="-1,1050,1074,1094" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="school">
        <numberOfStudents><![CDATA[0]]></numberOfStudents>
        <subjectArea><![CDATA[Science]]></subjectArea>
        <year><![CDATA[11]]></year>
        <preferredDateSchool>0001-01-01T00:00:00</preferredDateSchool>
        <numberOfStaff><![CDATA[0]]></numberOfStaff>
      </school>
      <school id="1095" key="78a4e691-25b4-45af-bbf4-bff1f4a8a680" parentID="1074" level="3" creatorID="0" sortOrder="3" createDate="2016-11-10T14:59:10" updateDate="2016-11-10T14:59:10" nodeName="Cambridge Gardens Public School - English" urlName="cambridge-gardens-public-school-english" path="-1,1050,1074,1095" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="school">
        <numberOfStudents><![CDATA[10]]></numberOfStudents>
        <subjectArea><![CDATA[English]]></subjectArea>
        <year><![CDATA[10]]></year>
        <nameOfSchool><![CDATA[Cambridge Gardens Public School]]></nameOfSchool>
        <preferredDateSchool>2016-11-29T00:00:00</preferredDateSchool>
        <numberOfStaff><![CDATA[2]]></numberOfStaff>
      </school>
    </initialIdentification>
    <initialIdentification id="1075" key="5d0d548e-5a28-4be4-91c1-1af40626db7f" parentID="1050" level="2" creatorID="0" sortOrder="1" createDate="2016-11-08T16:13:23" updateDate="2016-11-08T16:13:23" nodeName="Adult Visits" urlName="adult-visits" path="-1,1050,1075" isDoc="" nodeType="1073" creatorName="admin" writerName="admin" writerID="0" template="1072" nodeTypeAlias="initialIdentification">
      <siteName><![CDATA[Sydney Jewish Museum Event ]]></siteName>
      <pageTitle><![CDATA[Adult Visits]]></pageTitle>
      <bookType><![CDATA[Adult]]></bookType>
      <bookTypeDescription><![CDATA[Adult / Professional Training Visit - Tell us about your group]]></bookTypeDescription>
    </initialIdentification>
    <initialIdentification id="1076" key="cfaf4e7b-7a4c-4057-82e3-f8325508e36c" parentID="1050" level="2" creatorID="0" sortOrder="2" createDate="2016-11-08T16:15:32" updateDate="2016-11-08T16:15:32" nodeName="University Visits" urlName="university-visits" path="-1,1050,1076" isDoc="" nodeType="1073" creatorName="admin" writerName="admin" writerID="0" template="1072" nodeTypeAlias="initialIdentification">
      <siteName><![CDATA[Sydney Jewish Museum Event ]]></siteName>
      <pageTitle><![CDATA[University Visits]]></pageTitle>
      <bookType><![CDATA[University]]></bookType>
      <bookTypeDescription><![CDATA[University Visits - Tell us about your group]]></bookTypeDescription>
    </initialIdentification>
  </home>
</root>