@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the css class "current".
*@

@{ 
    var selection = CurrentPage.Site().Children.Where("Visible");
    var homePage = Model.Content.AncestorsOrSelf(1).FirstOrDefault();
    var img = homePage.GetPropertyValue<string>("companyLogo");
}

<div class="row" style="position: fixed;width:300px; top:15px; margin-left:15px;">
<a href="@homePage.Url" class="navbar-brand" style="max-height:17.5px;padding: 0px;margin:0px;">
    <img class="col-sm-12" style="padding: 0px; width:100%;max-height:17.25px;" src="@img" />
</a>
</div>