@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<h1 class="text-center well">Tour Booking</h1>
<div class="row" style="position: relative; top: 100px;">
    <div class="col-md-8 col-md-offset-2">
        <a class="btn btn-primary btn-lg btn-block" href="~/school-visits/">School Tour Booking</a>
        <br />
        <a class="btn btn-primary btn-lg btn-block" href="~/university-visits/">University Tour Booking</a>
        <br />
        <a class="btn btn-primary btn-lg btn-block" href="~/adult-visits/">Adult Tour Booking</a>
    </div>
</div>
