@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Master>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@CurrentPage.pageTitle | @CurrentPage.siteName</title>
    <!-- Bootstrap -->
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/emailSubscription.js"></script>

</head>
<body style="padding-bottom: 0px;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="border-bottom: 30px solid #88c874; ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @* Home Page Navigation *@
                @Html.Partial("_navi_Home")
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Visit</a> </li>
                    <li><a href="#">Explore</a> </li>
                    <li><a href="#">Learn</a> </li>
                    <li><a href="#">Support</a> </li>
                    <li><a href="#">Shop</a> </li>
                    <li><a href="#">News</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 30px;">
        <a href="#" class="btn btn-warning pull-right">DONATE TO SJM &hearts;</a>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <div style="position: relative; background-color: #e2eaf2; height: 120px; width: 100%;">
        <div class="container">
            <div style="padding-top: 30px;">
                <a href="#"><i class="fa fa-caret-square-o-up" aria-hidden="true" style="font-size: 60px;"></i></a>
                &nbsp;
                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true" style="font-size: 60px;"></i></a>
                &nbsp;
                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true" style="font-size: 60px;"></i></a>
            </div>
        </div>

    </div>
    <div style="position: relative; width: 100%; min-height: 160px; background-color: black; clear: both;">
        <div class="container">

            <div style="color: #d1dbe5; border-left: 1px solid #d1dbe5; padding-left: 2em; margin-top: 20px; margin-bottom: 20px; margin-right: 80px; width: 210px; float: left;">
                Sydney Jewish Museum
                        <br />
                148 Darlinghurst Road
                        <br />
                Darlinghurst, NSW
                        <br />
                Australia 2010
                        <br />
                +61 2 9360 7999
                        <br />
                info@sjm.com.au
            </div>

            <div style="color: #d1dbe5; border-left: 1px solid #d1dbe5; padding-left: 2em; margin-top: 20px; margin-bottom: 20px; width: 300px; float: left;">
                <ul style="list-style-type: none; padding-left: 0px;">
                    <li><a style="color: inherit" href="#">About</a> </li>
                    <li><a style="color: inherit" href="#">Contact</a> </li>
                    <li><a style="color: inherit" href="#">Venue Hire</a> </li>
                    <li><a style="color: inherit" href="#">The Museum is closed on...</a> </li>
                    <li><a style="color: inherit" href="#">Privacy Policy</a> </li>
                </ul>
            </div>
        </div>
        <div class="hidden-sm hidden-xs" style="position: absolute; right: 80px; bottom: 10px; width: 350px; height: 250px; background-color: #bbc6d3;">
            <div style="width: inherit; padding-left: 25px; padding-right: 25px; padding-top: 10px;">
                <div>
                    <table class="table table-borderless">
                        <tr>
                            <td><i class="fa fa-envelope-o" aria-hidden="true" style="font-size: 40px;"></i></td>
                            <td><b style="font-size: 25px;">Newsletter</b></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                        <input class="form-control" type="text" name="sub_name" id="sub_name" placeholder="Name" style="width:245px;" />
                                        @*<div class="icon-addon addon-md">
                                            <input class="form-control" type="text" name="sub_name" id="sub_name" placeholder="Name" />
                                        </div>*@
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-at" aria-hidden="true"></i></span>

                                        <input class="form-control" type="text" name="sub_email" id="sub_email" placeholder="Email Address" style="width:245px;" />
                                        @*<div class="icon-addon addon-md">
                                        </div>*@
                                    </div>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="form-control btn btn-info" id="sub_btn"><i class="pull-left">SUBMIT</i><i class="fa fa-long-arrow-right pull-right" aria-hidden="true" style="font-size: 25px;"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
